body {
    background-color: #FAFAFA;
    color: #262626;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.gust_modal {

    h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .link-font,
    a.link-font {
        display: block;
        width: 100%;
        color: #3897F0;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        padding: 11px;


        &:hover {
            text-decoration: none;
        }
    }

    .denger-link,
    a.denger-link:hover {
        display: block;
        width: 100%;
        font-weight: 600;
        color: #ed4956;
        cursor: pointer;
        text-decoration: none;
        padding: 11px;
    }

    // モーダルの設定
    .modal .modal-dialog.modal-dialog-centered {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-body {
        padding: 0 !important;
    }

    .modal-content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border: 0px;
        border-radius: 12px;
    }

    .modal-header {
        padding: 25px;
        border-bottom: 1px solid #efefef;
    }

    .modal-body {
        padding: 11px;
        border-bottom: 1px solid #efefef;
    }

    .modal-body-b {
        padding: 11px;
        cursor: pointer;
    }
}