.detail {
    .nav {
        li {
            width: 25%;
            text-align: center;
            line-height: 3;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .active {
        color: $blue;
        border-bottom: 2px solid $blue;
    }

    article {
        padding: 20px;

        h2 {
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }
}

.fevorite {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table tr {
        border-bottom: solid 1px #eee;
        cursor: pointer;
    }

    table tr:hover {
        background-color: #d4f0fd;
    }

    table th,
    table td {
        text-align: center;
        width: 25%;
        padding: 15px 0;
    }

    table td.icon {
        background-size: 35px;
        background-position: left 5px center;
        background-repeat: no-repeat;
        padding-left: 30px;
    }

}