.mypage {

    .profile {
        img {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            height: 150px;
        }

        .br {
            white-space: pre-wrap;
        }
    }

    .review {

        .wrapper {
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            padding: 15px;
            margin-bottom: 2rem;

            .cycle {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .text {
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }

    .favorite,
    .user {
        td {
            vertical-align: middle;
        }

        table tr:hover {
            background-color: #d4f0fd;
        }

        label {
            margin-bottom: 0;
        }
    }

    .phots {

        .row {
            width: 100%;
        }

        .bg {
            position: relative;

            a {
                position: relative;
                width: 100%;
                margin: auto;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 75%;
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    object-fit: cover;
                }
            }


            .text {
                display: block;
                font-size: 14px;
                margin-left: 2.5%;
            }

        }
    }


}